{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Privacy Policy{% endblock %}

{% block content %}
<h1>Privacy Policy</h1>

<div class="container">
    <p>This is the privacy policy page.</p>
    <p>TBD</p>
    <br/>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid quia error, distinctio impedit sed nesciunt magnam deleniti repudiandae quaerat nulla asperiores labore totam, eaque numquam nostrum consequatur sint temporibus similique.
        Laudantium maiores consequuntur, earum beatae ea laboriosam omnis et temporibus iure incidunt eligendi natus veritatis ex molestiae architecto nisi labore delectus modi. Adipisci, culpa placeat. Consequatur quibusdam harum nam ut?
        Quidem cupiditate asperiores consequuntur repellat nihil at ex ducimus voluptates alias voluptatibus odit voluptate, adipisci, eligendi quos incidunt dolor id hic porro ipsum, rerum temporibus perferendis fugiat nemo! Similique, pariatur?
        Numquam amet, dolores odio quas exercitationem aspernatur eaque consequatur dignissimos adipisci harum ratione illum nam ipsa vel cupiditate quos? Et quisquam libero quam odit praesentium debitis vel eius corporis similique.
    </p>
</div>

{% endblock %}
